<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabr.gabc.kelo">

    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
    Activity:
        - screenOrientation: for setting the orientations on each of the activities
        - noHistory: for not letting the activity to enter the navigation stack (splash screens)
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/kelo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kelo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KELO">
        <!-- Notifications -->
        <service
            android:name="com.gabr.gabc.kelo.utils.CustomFirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/kelo_icon_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primaryColor" />

        <!-- Activities -->
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>
        <activity
            android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="kelo-64c5c.web.app"
                    android:pathPrefix="/group" />
            </intent-filter>
        </activity>
        <activity
            android:name=".choreDetail.ChoreDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>